<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rpathechicken">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.admin.transaction.StockActivity"></activity>
        <activity
            android:name=".ui.admin.transaction.ProductionDetailActivity"
            android:theme="@style/AppTheme.Material" />
        <activity android:name=".ui.admin.transaction.ProductionActivity" />
        <activity
            android:name=".ui.admin.transaction.StoreTonaseHeaderActivity"
            android:theme="@style/AppTheme.Material" />
        <activity
            android:name=".ui.admin.transaction.TonaseDetailActivity"
            android:theme="@style/AppTheme.Material" />
        <activity android:name=".ui.admin.transaction.TonaseHeaderActivity" />
        <activity
            android:name=".ui.admin.master.StoreItemActivity"
            android:theme="@style/AppTheme.Material" />
        <activity
            android:name=".ui.admin.master.StoreAreaActivity"
            android:theme="@style/AppTheme.Material"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.admin.master.StoreUserActivity"
            android:theme="@style/AppTheme.Material"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.admin.master.StoreRPAActivity"
            android:theme="@style/AppTheme.Material" />
        <activity android:name=".ui.admin.master.MasterItemActivity" />
        <activity android:name=".ui.admin.master.MasterAreaActivity" />
        <activity android:name=".ui.admin.master.MasterRPAActivity" />
        <activity android:name=".ui.admin.master.MasterUserActivity" />
        <activity
            android:name=".ui.profile.detail.PersonalDetailActivity"
            android:theme="@style/AppTheme.Material" />
        <activity android:name=".ui.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>